html{
    background-image: url('https://previews.123rf.com/images/chachar/chachar1808/chachar180800038/106778541-vitruvian-man-of-digital-age-green-background-illustration-of-vitruvian-man-with-a-binary-codes-symb.jpg')  ;
    /* background-repeat: no-repeat ; */
}
.flexbox-container-1{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    /* height: 400px; */
    /* border-radius: 10px; */
}
.flexbox-container-2{
    display: flex;
    justify-content: center;
    
}
.box-3{
    /* grid-column: 2;
    grid-column-start: 1;
    grid-column-end: 3; */
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 5px;
    margin-left: 31.5%;
    /* margin-right: 30%; */
    min-height: 100px;
    border-radius: 10px;
    border: 3px solid darkolivegreen;
    background-color: rgb(100, 160, 30);
    width: 30%;
}
.table{
    margin:auto;
    margin-right: 33%;
    background-color: rgb(100, 160, 20);
    border:rgb(100, 160, 20) 3px solid;
    border-radius: 5px ;
    margin-top: 5px;
    opacity: 0;
}
tr, td {
    border: 1px solid black;
}
td{
    background-color: white;
}
.cinfoHd, .cinfoHdL{
    background-color: rgb(100, 160, 20);;
    color:white;
}

.flexbox-item{
    border-radius: 10px;
    width:280px;
    padding-left: 5px;
    border: 3px solid darkolivegreen;
    background-color: rgb(100, 160, 20);
}
.box-1{
    grid-column: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}
.box-2{
    height:flex;
    flex-basis: 1;
}
#refresh{
    border-radius: 5px; 
    margin-top: 10px;
    margin-bottom: 20px;
}
#submit {
    border-radius: 5px;
    border: 3;
    width: 70px;
    height:25px;
}
#display{
    background-image: url('https://thumbs.dreamstime.com/b/bmi-body-mass-index-calculate-illustration-infographic-chart-underweight-normal-overweight-obese-vector-157561387.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    border: 1px solid; 
    height: 90%;
    margin-top: 20px;
}
#BMIdisplay{
    border: solid 2px;
    width: 170px;
    height: 25px;
    font-family: Arial;
    background: white;
    padding-left: 2%;
    border-radius: 5px;
    margin: 5px;
}
/* #weight-kg:valid {
    color: rgb(7, 230, 7);
}
#weight-kg:invalid {
    color: black;
}
#weight-pounds :valid {
    color: rgb(7, 230, 7);
}
#weight-pounds :invalid {
    color: black;
}
#height-cm:valid {
    color: rgb(7, 230, 7);
}
#height-cm:invalid {
    color: black;
}
#height-inches:valid {
    color: rgb(7, 230, 7);
}
#height-inches:invalid {
    color: black;
} */
#inches{
    display: none;
}  